<om-silk></om-silk>
<div class="w-full flex flex-row justify-end p-4 relative z-10">
    <button mat-icon-button color="primary" (click)="close()">
        <mat-icon style="color:whitesmoke">close</mat-icon>
    </button>
</div>
<section class="flex flex-col items-end mt-0 md:mt-[5dvh] xl:mt-[20dvh] p-10 gap-10">
    <h1 class="z-10 text-8xl text-white text-right">
        Virtual Piano
    </h1>
    <p class="z-10 text-2xl text-white text-right">
        Disfruta de un piano virtual en línea que puedes tocar directamente con tu teclado. Explora una selección de
        canciones, practica a tu ritmo y mejora tus habilidades musicales de forma interactiva y divertida, sin
        necesidad de descargar nada.
    </p>
    <a href="https://github.com/Max-Yasid" target="_blank" class="z-10 text-white text-right"> Creado por Max-Yasid</a>
</section>